API_KEY=
SALT=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
PORT=
TMDB_URL=https://api.themoviedb.org/3/discover/movie
TMDB_URL_SEARCH=https://api.themoviedb.org/3/search/movie
TMDB_API_KEY=
IMAGE_BASE_URL=http://image.tmdb.org/t/p/
BACKDROP_SIZE=w1280
POSTER_SIZE=w500